@{
    ViewData["Title"] = "Success";
}

<div class="row">
    <div class="col-md-3">
        <h2>Success</h2>
        <p>If you see this, GetUserIdAsync() returned the actual value.</p>
    </div>
</div>
